{{#image}}<img src='{{image}}' class='thumbnail'/>{{/image}}
<h4><a href='{{link}}' target='_blank'>{{title}}</a></h4>
<p>{{description}}</p>
{{#request}}
<p>Submit package <a href='{{source_prj_link}}'>{{source_prj}}</a> / <a href='{{source_pkg_link}}'>{{source_pkg}}</a> to package <a href='{{dest_prj_link}}'>{{dest_prj}}</a> / <a href='{{dest_pkg_link}}'>{{dest_pkg}}</a></p>
<p>
<img />
Created by <a href='{{author_link}}' target='_blank'>{{author_name}}</a>
<span>{{fuzzy_time}}</span>
</p>
<p>
<img />
In state
<a href='{{link}}#request_history'>{{request_state}}</a>
</p>
{{/request}}
<ul>
{{#packages}}
<li>
<ul>
<li class="obs-buildstatus">
<a href='{{repo_uri}}' target='_blank'>{{repo}}</a>
</li>
<li class="obs-buildstatus">
{{arch}}
</li>
<li class="obs-buildstatus">
<a class="{{status_class}}" href='{{buildlog}}' target='_blank'>{{buildstatus}}</a>
</li>
</ul>
</li>
{{/packages}}
</ul>
