{{#image}}<img src='{{image}}' class='thumbnail'/>{{/image}}

<h4><a style="color: #690;" href='{{link}}' target='_blank'>{{title}}</a></h4>
<p>{{description}}</p>
{{#request}}
<p>
<span>Created by <a href='{{author_link}}' target='_blank'>{{author_name}}</a></span>
<span style='float:right;'>{{fuzzy_time}}</span>
</p>
{{/request}}
<ul style="display: block; list-style-type: none; padding: 0; width: 600px;">
{{#packages}}
<li style="display:block; width: 100%">
<ul style="list-style-type: none; padding: 0; width: 100%">
<li class="obs-buildstatus" style="display:inline-block; padding:0.2em; border: 1px dotted #ccc; float: left; width: 30%">
<a href='{{repo_uri}}' target='_blank' style="color: #069;">{{repo}}</a>
</li>
<li class="obs-buildstatus" style="display:inline-block; padding:0.2em; border: 1px dotted #ccc; float: left; width: 10%; padding-left: 1.2em; background: url(https://build.opensuse.org/assets/icons_sprite-2409a577c5e87bec19ab326b71b9cf800ff3e9a8528f5e81037f01d2c58b8fc4.png) -422px -377px no-repeat;">
{{arch}}
</li>
<li class="obs-buildstatus" style="display:inline-block; padding:0.2em; border: 1px dotted #ccc; border-right: none; float: left; width: 30%;">
<a class="{{status_class}}" style="color:#c00;" href='{{buildlog}}' target='_blank'>{{buildstatus}}</a>
</li>
</ul>
</li>
{{/packages}}
</ul>
